body {
    margin: none;

    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgb(203, 72, 172) 10%, rgb(103, 104, 204) 100%);

}


  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    
}
#back-card{
    background: rgba(44, 40, 40, 0.4)
}
.container> h1 {
    text-align: center;
    padding: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: rgb(21, 185, 92);
    text-shadow: gray 2px 2px 2px;
    animation: lights 2s infinite;
}

@keyframes lights{
    0%{
        color: #f00;
    }
    25%{
        color: #0f0;
    }
    50%{
        color: #00f;
    }
    75%{
        color: #ff0;
    }
    100%{
        color: #f00;
    }
}

.search-bar {
    margin: 20px 0;
    display: flex;
    gap: .5em 1.5em;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* width: 80vh; */
    /* height: 70px; */
}
#search-input{
    min-width: 200px;
    width: 60%;
    flex:3 0 auto
}
#search-btn{
    /* height: auto; */
    /* width: 100%; */
    flex:1 0 auto;
}
.superhero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    gap: 1em;
}

.superhero-item {
    padding: 0;
    margin: 0.5%;
    flex: 1 0 calc(25% - 1em); /* Adjust the width to fit 4 items per row */
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.card {
    background-color: #ffffffa0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
}

.superhero-item:hover {
    transform: scale(1.02);
    
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
    padding-bottom: 40px; 
}

.favorite-button {
    background-color:  #c82333;
    color: #fff;
    border: none;
    height: 3em;
    padding: 0.5em;
    
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
    transition: background-color 0.2s;
    z-index: 2;
}
.favorite-button svg {
    height: 100%;
    width: 100%;
    fill: white;
}

.favorite-button:hover {
    background-color: #e7e2e2;
}

#navigate-home {
    position: sticky;
    top: 80%;
    left: 67%;
    z-index: 7;
    font-size: 1.2em;
    background: linear-gradient(to right bottom, #c8d88f, #056011);
    border: white solid 1px;
    border-radius: 2em;
    padding: 1em;
    box-shadow: #c44d1a 0 0 2em;
}

#navigate-home:hover {
    background: linear-gradient(to right bottom, #056011, #c8d88f);
    transform: scale(1.1);
    font-weight: bold;
}

@media (min-width: 576px) {
    .superhero-item {
        width: calc(50% - 20px);
    }
}

@media (min-width: 768px) {
    .superhero-item {
        width: calc(33.333% - 20px);
    }
}

@media (min-width: 992px) {
    .superhero-item {
        width: calc(25% - 20px);
    }
}

@media (min-width: 1200px) {
    .superhero-item {
        width: calc(20% - 20px);
    }
}