body {
    margin: none;

    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    position: relative;
    min-width: 400px;
    min-height: 100vh;
    background: radial-gradient(circle, rgb(193, 207, 140) 10%, rgb(204, 133, 103) 100%);
}

h2 {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: rgb(212, 22, 22) 2px 2px 2px;
    font-size: 2.5em;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    padding: 0.5em;
    /* margin: 5%; */
}

#back-card{
    background: rgba(230, 221, 221, 0.3)
}
.search-bar {
    margin: 20px 0;
    display: flex;
    gap: .5em 1.5em;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* width: 80vh; */
    /* height: 70px; */
}
#search-input{
    min-width: 200px;
    width: 60%;
    flex:3 0 auto
}
#search-btn{
    /* height: auto; */
    /* width: 100%; */
    flex:1 0 auto;
}
.superhero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    gap: 1em;
}

.superhero-item {
    padding: 0;
    margin: 0.5%;
    flex: 1 0 calc(25% - 1em); /* Adjust the width to fit 4 items per row */
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.card {
    background-color: #ffffff98;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
}

.superhero-item:hover {
    transform: scale(1.02);
    
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
    padding-bottom: 40px; 
}

.favorite-button {
    background-color: #e7e2e2;
    color: #fff;
    border: none;
    height: 3em;
    padding: 0.5em;
    
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
    transition: background-color 0.2s;
    z-index: 2;
}
.favorite-button svg {
    height: 100%;
    width: 100%;
    fill: white;
}

.favorite-button:hover {
    background-color: #c82333;
}


#navigate-fev {
    position: sticky;
    top: 80%;
    left: 65%;
    z-index: 7;
    font-size: 1.2em;
    background: linear-gradient(to right bottom, #a4c823, #c82333);
    border: white solid 1px;
    border-radius: 2em;
    padding: 1em;
    box-shadow: #c82333 0 0 2em;
}

#navigate-fev:hover {
    background: linear-gradient(to right bottom, #c82333, #a4c823);
    transform: scale(1.1);
    font-weight: bold;
}

@media (min-width: 576px) {
    .superhero-item {
        width: calc(50% - 20px);
    }
}

@media (min-width: 768px) {
    .superhero-item {
        width: calc(33.333% - 20px);
    }
}

@media (min-width: 992px) {
    .superhero-item {
        width: calc(25% - 20px);
    }
}

@media (min-width: 1200px) {
    .superhero-item {
        width: calc(20% - 20px);
    }
}